:root{
    --bg-primary-color: #090224;
    --destaque-primary: #00e4f9;
    --destaque-secondary: #d700a1;
    --text-color: #fefefe
}


/* Geral */
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.primary{
    padding: 8px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid var(--destaque-primary);
    background-color: transparent;
    z-index: 1;
    color: var(--text-color);
    position: relative;
    box-shadow: 0 0 5px 1px var(--destaque-primary);
    transition: all .5s ease;
}
.primary::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--destaque-primary);
    position: absolute;
    top: 120%;
    left: 0;
    display: block;
    transform: perspective(5em)
    rotateX(45deg);
    filter: blur(20px);
    opacity: 0.8;
    transition: all .3s ease;
}
.primary:hover{
    color: #000;
    background-color: var(--destaque-primary);
}
.primary:hover::after{
    filter: blur(15px);
    opacity: 1;
}

.secondary{
    padding: 5px 10px;
    margin-left: 15px;
    background-color: transparent;
    border: 3px solid var(--destaque-secondary);
    box-shadow: 0 0 5px 1px var(--destaque-secondary);
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    color: var(--text-color);
    transition: all .5s ease;
}
.secondary::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--destaque-secondary);
    position: absolute;
    top: 120%;
    left: 0;
    transform: perspective(4em) rotateX(45deg);
    filter: blur(20px);
    opacity: 0.8;
    transition: all .5s ease;
}
.secondary:hover{
    background-color: var(--destaque-secondary);
    color: #000;
}
.secondary:hover::after{
    filter: blur(15px);
    opacity: 1;
}
.title{
    color: var(--destaque-primary);
    font-size: 1.6em;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}
.destaque{
    color: var(--destaque-primary);
    font-weight: 600;
}




/* Nav */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 20px;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background: #00000055;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid #1f1f1f;
    & .nav_logo{
        height: 25px;
    }
    & .nav_button{
        padding: 10px 12px;
        border-radius: 25px;
        background-color: #1f1f1f50;
        color: #fefefe;
        font-size: 16px;
    }
    & .nav_menu{
        position: absolute;
        top: 80px;
        width: 80vw;
        list-style: none;
        border-radius: 20px;
        background-color: #00000055;
        border: 1px solid #1f1f1f;
        z-index: 50;
        padding: 10px 0;
        backdrop-filter: blur(10px);
        transition: all .3s ease;
        & .nav_menu_list a{
            padding: 15px;
            display: block;
            font-size: 1.2em;
            color: #fefefe;
            text-align: center;
            transition: all .3s ease;
        }:hover{
            background-color: #00000080;
        }
    }
}

.ocult{
    transform: translateY(-400px);
    opacity: 0;
}



/* header */

.header{
    padding: 100px 15px;
    background-color: #090224;
    /* background-image: url('./assets/back.webp'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: #fefefe;
    & .header_left{
        padding: 70px 10px;
    }
}
.header_title_subtitle{
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header_title_logo{
    background-image: linear-gradient(90deg, var(--destaque-primary), var(--destaque-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.header_buttons{
    margin-top: 60px;
    display: flex;
    align-items: self-end;
    gap: 25px;
    margin-bottom: 40px;
    & a{
        transition: all .2s ease;
        & img{
        width: 35px;
        }
    }
}
.header_buttons a:hover{
    transform: translateY(-8px);
}
 /* header imagem */
.header_imagem{
    margin: auto;
    width: 320px;
    height: 320px;
    background-image: linear-gradient(90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    border-radius: 50%;
    background-size: 300%;
    background-position: left 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    animation: neon infinite 5s linear,
        movement infinite 4s ease-in-out;
    & img{
        width: 95%;
        border-radius: 50%;
    }
}
.bolha{
    position: absolute;
    width: 90px;
    display: block;
    height: 90px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    background-size: 300%;
}
.bolha:nth-last-child(-n + 1){
    bottom: 25px;
    left: -15px;
    animation: movement infinite 3s ease-in-out 1.5s;
    animation-delay: 2s;
}
.bolha:nth-child(2){
    right: -15px;
    top: 35px;
    height: 70px;
    width: 70px;
    animation: movement infinite 4.5s ease-in-out 1s;
    
}


/* Main-Section */
.main_section{
    background-image: linear-gradient(var(--bg-primary-color), #000000);
    padding: 50px 20px;
}
.my_info{
    color: var(--text-color);
    text-align: center;
    margin-bottom: 30px;
    & p{
        margin: 30px 0;
    }
    & a{
        display: block;
        width: 60%;
        margin: auto;
        margin-bottom: 100px;
    }
}

/* habillity */
.hability_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.skill-card{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-bottom: 20px;
    & .skill-icon{
        width: 60px;
        margin-bottom: 10px;
    }
    & span{
        font-weight: 700;

    }
}



/* Projetos */
.projects{
    background-image: url('./assets/bg_space.jpeg');
    background-position: center;
    background-size: 130vh;
    background-attachment: fixed;
    padding: 30px 20px 60px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project_card{
    padding: 10px;
    position: relative;
    padding-bottom: 70px;
    z-index: 2;
    margin-top: 25px;
    border-radius: 5px;
    background: #00000055;
    backdrop-filter: blur(1em);
    border: 1px solid #1f1f1f;
    & .mockup{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
    }
}
.project_card_info {
    text-align: center;
    & h3{
        margin-bottom: 10px;
    }
    & p{
        margin-bottom: 10px;
    }
    & .project_card_info_icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-bottom: 20px;
        & .icon{
            width: 35px;
        }
    }
    & .secondary{
        margin-left: 5px;
    }
}

.projects .butt{
    margin-top: 30px;
    margin-left: 0;
    & a{
        margin-left: 0;
    }
}




/* section Contatos */
.contacts{
    background-color: #000;
    padding: 70px 20px;
    color: var(--text-color);
    text-align: center;
}
.contact_info{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.contact_card{
    background-color: #131313;
    text-align: start;
    padding: 10px 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
    & h3{
        color: var(--destaque-primary);
    }
    & p{
        color: #aaa;
        transition: all .3s ease;
    }
}

.contact_card:hover p{
    color: var(--text-color);
}
.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #131313;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
    gap: 10px;
    & button{
        margin-top: 20px;
    }
}
.label_input{
    display: flex;
    flex-direction: column;
    align-items: start;
    & input, textarea {
        width: 100%;
        font-size: 18px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid var(--destaque-primary);
        resize: none;
        color: var(--text-color);
    }
}



/* Footer */

footer{
    background-color: #090224;
    padding: 50px 20px;
    color: #fefefe;
    & h4{
        font-size: 1.2em;
    }
    & .social_icons{
        display: flex;
        justify-content: space-around;
        font-size: 2.3em;
        margin-top: 25px;
        & a{
            color: #fefefe;
            width: 35px;
            cursor: pointer;
            & img{
                width: 100%;
            }
        }
    }
}
.footer_links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    & a{
        padding: 10px;
        font-size: 1.2em;
        color: #fefefe;
        font-weight: 600;
        border-bottom: 1px solid;
    }
}
footer p{
    color: #fefefe;
    font-size: .8em;
    text-align: center;
    margin-top: 50px;
}






/* animation */
@keyframes movement {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
 @keyframes ascenar {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0deg);
    }
 }
#hands{
    display: inline-block;
    animation: ascenar 1s .5s 2 ease-in-out;
}



@media screen and (min-width: 760px){
    .nav_button{
        display: none;
    }
    .nav .nav_menu{
        display: flex;
        position: relative;
        background: #00000000;
        flex-direction: row;
        align-items: center;
        top: 0;
        height: 60px;
        border: none;
        backdrop-filter: none;
        width: auto;
    }
    .nav .nav_menu .nav_menu_list a{
        display: inline-block;
        border: none;
        padding: 15px 35px;
        border-left: 1px solid;
    }
    
    .ocult{
        opacity: 1;
        transform: translateX(0);
    }


    .header{
        display: flex;
        padding: 180px 45px 50px;
        justify-content: center;
        & .header_left{
            width: 50%
        }

    }


    .main_section{
        display: flex;
        padding: 100px 45px;
        justify-content: space-around;
        gap: 40px;
        & .my_info{
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        & .habillity{
            width: 45%
        }
    }


    .projects{
        padding: 80px 45px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 35px;
        & .title{
            width: 100%
        }
        & .project_card{
            max-width: 80vw;
            display: flex;
            align-items: center;
            justify-content: center;
            & img{
                width: 40%;
            }
        }
        & .butt{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .contacts{
        padding: 70px 45px;
        & .contact_info{
            flex-direction: row;
            gap: 10px;
            width: 100%;
        }
    }
    .contact_card{
        width: 100%;
    }
    .contact_form button{
        display: block;
        width: 40%;
        margin-top: 20px;
        align-self: end;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        & .footer_social{
            width: 45%;
        }
        & .footer_links{
            width: 45%;
        }
    }
}