/* Geral */
*{
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

.primary{
    padding: 8px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #00e4f9;
    background-color: transparent;
    z-index: 1;
    color: #fefefe;
    position: relative;
    box-shadow: 0 0 5px 1px #00e4f9;
    transition: all .5s ease;
}
.primary::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: #00e4f9;
    position: absolute;
    top: 120%;
    left: 0;
    display: block;
    transform: perspective(5em)
    rotateX(45deg);
    filter: blur(20px);
    opacity: 0.8;
    transition: all .3s ease;
}
.primary:hover{
    color: #000;
    background-color: #00e4f9;
}
.primary:hover::after{
    filter: blur(15px);
    opacity: 1;
}

.secondary{
    padding: 5px 10px;
    margin-left: 15px;
    background-color: transparent;
    border: 3px solid #d700a1;
    box-shadow: 0 0 5px 1px #d700a1;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    color: #fefefe;
    transition: all .5s ease;
}
.secondary::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: #d700a1;
    position: absolute;
    top: 120%;
    left: 0;
    transform: perspective(4em) rotateX(45deg);
    filter: blur(20px);
    opacity: 0.8;
    transition: all .5s ease;
}
.secondary:hover{
    background-color: #d700a1;
    color: #000;
}
.secondary:hover::after{
    filter: blur(15px);
    opacity: 1;
}
.title{
    color: #fefefe;
    font-size: 1.6em;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 0 0 5px #fefefe;
}





/* Nav */
.nav{
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: calc(100vw - 40px);
    z-index: 100;
    & .nav_logo{
        text-align: center;
        color: #fefefe;
        & .nav_logo_main{
            color: #fefefe;
            background-image: linear-gradient(45deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
            background-size: 350%;
            background-position: left 0;
            background-clip: text;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
            animation: neon infinite linear 5s;
        }
    }
    & .nav_button{
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #1f1f1f;
        color: #fefefe;
        font-size: 16px;
    }
    & .nav_menu{
        position: absolute;
        right: 0;
        top: 67px;
        background-color: #1f1f1f;
        padding: 10px 10px;
        height: 90vh;
        list-style: none;
        transition: all .5s ease ;
        & .nav_menu_list a{
            color: #fefefe;
            padding: 20px 80px;
            display: block;
            text-align: center;
            border-bottom: 1px solid;
            transition: all .5s ease;
        }:hover{
            background-color: #2a2a2a;
        }
    }
}

.nav_logo_subtitle{
    position: relative;
    font-style: italic;
}
.nav_logo_subtitle::before{
    content: '';
    height: 3px;
    width: 100%;
    background-image: linear-gradient( 90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    display: block;
    position: absolute;
    bottom: -5px;
    background-size: 290%;
    background-position: left 0;
    animation: neon infinite linear 5s;
}
.nav_logo_subtitle::after{
    content: '';
    height: 3px;
    width: 100%;
    background-image: linear-gradient( 90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    display: block;
    position: absolute;
    bottom: -5px;
    background-size: 290%;
    background-position: left 0;
    filter: blur(5px);
    animation: neon infinite linear 5s;
}
.ocult{
    transform: translateX(280px);
    opacity: 0;
}



/* header */

.header{
    padding: 100px 15px;
    background-color: #090224;
    /* background-image: url('./assets/back.webp'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: #fefefe;
    & .header_left{
        padding: 70px 10px;
    }
}
.header_title_logo{
    text-transform: uppercase;
    font-size: 1.9em;
}
.header_buttons{
    margin-top: 60px;
    display: flex;
    align-items: self-end;
    margin-bottom: 40px;
}
 /* header imagem */
.header_imagem{
    margin: auto;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    border-radius: 50%;
    background-size: 300%;
    background-position: left 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    animation: neon infinite 5s linear,
        movement infinite 4s ease-in-out;
    & img{
        width: 90%;
        border-radius: 50%;
    }
}
.bolha{
    position: absolute;
    width: 60px;
    display: block;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    background-size: 300%;
}
.bolha::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    background-position: left;
    background-size: 300%;
    filter: blur(20px);
    position: absolute;
    border-radius: 50%;
    animation: neon infinite 5s liinear;
}
.bolha:nth-last-child(-n + 1){
    top: 0;
    left: 0;
    animation: neon infinite 2.5s linear,
                movement infinite 3s ease-in-out 1.5s;
    animation-delay: 2s;
}
.bolha:nth-child(2){
    right: -15px;
    top: 35px;
    height: 50px;
    width: 50px;
    animation: neon infinite 5s linear 3s,
                movement infinite 4.5s ease-in-out 1s;
    
}
.bolha:nth-child(3){
    bottom: 20px;
    right: 10px;
    height: 30px;
    width: 30px;
    animation: neon infinite 5s linear,
            movement infinite 5s ease-in-out;
}


/* Main-Section */
.main_section{
    background-color: #2a2a2a;
    padding: 50px 20px;
}
.my_info{
    color: #fefefe;
    text-align: center;
    & p{
        margin: 20px 0;
    }
}
.my_info .ligth{
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    background-size: 300%;
    border-radius: 10px;
    position: relative;
    animation: neon infinite 5s linear;
}
.my_info .ligth::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    background-size: 300%;
    animation: neon infinite 5s linear;
    filter: blur(10px);
}
/* habillity */
.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill-bar {
    width: 100%;
    height: 25px;
    background-color: #1f1f1f;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 0 5px #00e4f9;
    position: relative;
}

.skill-bar::before {
    content: attr(data-skill);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fefefe;
    font-weight: bold;
}

.skill-level {
    height: 100%;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #00e4f9, #d700a1);
    width: 80%; /* Pode ajustar conforme a proficiência */
    animation: fillBar 2s ease;
}



/* Projetos */
.projects{
    background-color: #090224;
    padding: 30px 20px 60px;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project_card{
    padding: 10px;
    position: relative;
    padding-bottom: 70px;
    z-index: 2;
    margin-top: 25px;
    border-radius: 5px;
    background-image: linear-gradient(0deg, #090224, #090224);
    & img{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
    }
}
.project_card_info {
    text-align: center;
    & h3{
        margin-bottom: 10px;
    }
    & p{
        margin-bottom: 10px;
    }
    & .project_card_info_icons{
        margin-bottom: 20px;
    }
    & .secondary{
        margin-left: 5px;
    }
}
.project_card::after{
    content: '';
    background-image: linear-gradient(90deg, #00e4f9, #d700a1, #00e4f9, #d700a1);
    background-size: 300%;
    background-position: left 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 5px;
    transform: scale(1.02);
    animation: neon infinite 5s linear;
}
.project_card::before{
    content: '';
    background-color: #090224;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: -1;
}
.projects .butt{
    margin-top: 30px;
    margin-left: 0;
    & a{
        margin-left: 0;
    }
}




/* section Contatos */
.contacts{
    background-color: #000;
    padding: 40px 20px;
    color: #fefefe
}
.contacts_info{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.whats_btn{
    color: #fefefe;
    background-color: #0da046;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}
.label_inp{
    width: 100%;
    & .input{
        background-color: #5e5e5e;
        padding: 8px;
        border-radius: 20px;
        margin-top: 10px;
        & input{
            color: #fefefe;
            width: 65%;
            background-color: transparent;
            border-bottom: 1px solid #000;
        }
        & button{
            background-color: transparent;
            font-weight: bold;
            border-left: 1px solid;
            padding: 5px;
        }
    }
}




/* Footer */

footer{
    background-color: #090224;
    padding: 50px 20px;
    color: #fefefe;
    & h4{
        font-size: 1.2em;
    }
    & .social_icons{
        display: flex;
        justify-content: space-around;
        font-size: 2.3em;
        margin-top: 25px;
        & a{
            color: #fefefe;
        }
    }
}
.footer_links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    & a{
        padding: 10px;
        font-size: 1.2em;
        color: #fefefe;
        font-weight: 600;
        border-bottom: 1px solid;
    }
}
footer p{
    color: #fefefe;
    font-size: .8em;
    text-align: center;
    margin-top: 50px;
}






/* animation */
@keyframes neon {
    0% {
        background-position: left 0;
    }
    50% {
        background-position: center;
    }
    100% {
        background-position: right 0;
    }
}

@keyframes movement {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fillBar {
    from {
        width: 0;
    }
    to {
        width: 50%; /* Ajuste conforme a proficiência */
    }
}




@media screen and (min-width: 760px){
    .nav_button{
        display: none;
    }
    .nav .nav_menu{
        display: flex;
        position: relative;
        background-color: transparent;
        flex-direction: row;
        top: 0;
        height: 60px;
    }
    .nav .nav_menu .nav_menu_list a{
        display: inline-block;
        border: none;
        padding: 20px 35px;
        border-right: 1px solid;
    }
    
    .ocult{
        opacity: 1;
        transform: translateX(0);
    }


    .header{
        display: flex;
        padding: 180px 45px;
        justify-content: center;
        & .header_left{
            width: 50%
        }

    }


    .main_section{
        display: flex;
        padding: 100px 45px;
        justify-content: space-around;
        gap: 40px;
        & .my_info{
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        & .habillity{
            width: 45%
        }
    }


    .projects{
        padding: 80px 45px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 35px;
        & .title{
            width: 100%
        }
        & .project_card{
            max-width: 350px;
        }
        & .butt{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .contacts{
        padding: 70px 45px;
        & .contacts_info{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 40px;
            & .label_inp{
                width: 50%;
                & input{
                    width: 72%;
                }
                & button{
                    width: 25%;
                }
            }
        }
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        & .footer_social{
            width: 45%;
        }
        & .footer_links{
            width: 45%;
        }
    }
}