.container{
    min-height: 100vh;
    padding: 100px 20px;
    box-sizing: border-box;
    background-image: url('/src/assets/linebg.jpg');
    background-position: 5% 70%;
    background-size: 220%;
    background-repeat: no-repeat;
}

.text_container{
    margin-top: 50px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 95%;
}

.container a{
    margin-top: 60px;
    width: 250px;
}

.destaque{
    font-weight: 800;
}

@media screen and (min-width: 720px) {
    .container{
        padding: 110px 50px;
        background-position: -15% 50%;
        background-size: 150%;
        background-repeat: repeat;
    }
    .text_container{
        margin-top: 60px;
        max-width: 70%;
        font-size: 1em;
    }
    .container a{
        margin-top: 60px;
        width: 360px;
    }

}

@media screen and (min-width: 1220px) {
    .container{
        padding: 120px 60px;
        background-position: 30% 50%;
        background-size: 100%;
        background-repeat: repeat;
    }
    .text_container{
        margin-top: 80px;
        max-width: 50%;
        font-size: 1.25em;
    }
}