.container{
    background-color: var(--black-color);
}

.links_container{
    padding: 40px 20px;
    display: flex;
    gap: 60px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.link_title{
    font-size: .75em;
    color: var(--gray-color);
    font-weight: 900;
    text-transform: uppercase;
}
.link_item{
    font-weight: 900;
    text-decoration: none;
    color: var(--white-bg);
    font-size: 1.25em;
    text-transform: uppercase;
}

.svg_container{
    width: 100%;
    box-sizing: border-box;
    height:  100%;
}
.svg_container svg{
    min-width: 100%;
}

.end{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    color: var(--gray-color);
    padding: 40px 20px;
    text-align: center;
}

@media screen and (min-width: 720px) {
    .links_container{
        padding: 80px 40px;
        gap: 20%;
    }

    .end{
        padding: 50px 40px;
        flex-direction: row;
        text-align: start;
    }
}