.nav{
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  /* background: linear-gradient(#e1e1e188 60%, #e1e1e100); */
  height: 9em;
  z-index: 2;
  transition: all .8s ease-in-out;
  & .logo{
    transform-origin: center bottom;
    transform: scale(1);
    transition: all .8s ease-in-out;
  }
  & .scroll {
    opacity: 0;
    transition: all .4s ease-in-out;
  }
}

.screen{
  height: 100vh;
  background-color: #e1e1e1;
  z-index: 2;
  transition: all .8s ease-in-out;
  & .logo{
    transform: scale(2.5) translateY(-20px);
    transform-origin: center top;
    transition: all .8s ease-in-out;
  }
  & .scroll {
    opacity: 1;
    position: absolute;
    bottom: 60px;
    transition: all 1s ease-in-out;
  }
}