.container{
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.content{
    padding: 80px 20px;
    box-sizing: border-box;
}

.text{
    margin-top: 30px;
    font-size: 1.25em;
}
.area_label{
    margin-top: 45px;
}
.button_title{
    font-size: 2.25em;
    text-transform: uppercase;
    font-weight: 900;
}
.button{
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    position: relative;
    transition: color .3s ease;
}

.button svg{
    transition:.35s;
}

.button:hover svg{
    transform:translateX(10px);
}

.button::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-2px;
    width:30%;
    height:2px;
    background:var(--color-destaque);
    transition:.4s;
}

.button:hover::after{
    width:100%;
}

.social_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.social_container a{
    font-size: 2.75em;
    color: #000;
    transition: color .3s ease;
}

.social_container a:hover{
    color: var(--color-destaque);
}
.button:hover{
    color: var(--color-destaque);
}
.imagem_cont{
    display: none;
}


@media screen and (min-width: 850px) {
    .content{
        padding: 110px 50px;
        max-width: 1520px;
        margin: auto;
    }
    .main{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .area_label{
        margin-top: 50px;
    }
    .button_title{
        font-size: 3.5em;
    }
    .user_utils{
        padding: 0 30px;
        max-width: 55%;
        flex-grow: 1;
    }
    .imagem_cont{
        display: flex;
        align-items: self-start;
        justify-content: center;
        max-width: 40%;
    }
    .imagem_cont img{
        width: 60%;
        margin: -80px auto;
        object-fit: cover;
        box-shadow: 22px 22px 0 #000;
    }
}