:root{
  --primary-color: #D2FF00;
  --dark-green: #282C20;
  --light-green: #DDE1D2;
  --black-color: #111112;
  --destaque-font: "Fraunces", serif;
}
*{
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--dark-green);
}

.destaque {
  font-family: var(--destaque-font);
  color: var(--primary-color);
  font-weight: 800;
  font-style: italic;
}