:root{
  --black-color: #0f0f0f;
  --white-bg: #E4E4E4;
  --color-destaque: #E41613;
  --destaque-font: "Fraunces", serif;
}

::selection {
  background-color: #E41613; 
  color: #F1F1F1;           
}

::-moz-selection {
  background-color: #E41613;
  color: #F1F1F1;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  font-family: "Inter", sans-serif;
  background-color: var(--white-bg);
  scroll-behavior: smooth;
}

.destaque{
  font-family: var(--destaque-font);
  font-weight: 700;
  color: var(--color-destaque);
}

.time{
  position: fixed;
  right: 20px;
  bottom: 20px;
  line-height: 25px;
  font-size: .75em;
}
.local{
  font-weight: 400;
  letter-spacing: 2px;
}

.hour{
  letter-spacing: 3px;
}