.main_button{
    background-color: var(--black-color);
    padding: 18px 35px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white-bg);
    font-weight: 600;
    box-shadow: 0 4px 20px #00000020;
    transition: padding .3s ease-out,
    border-radius .3s ease-out, 
    gap .3s ease-out;
}
.main_button:hover{
    padding: 18px 80px;
    border-radius: 50px;
    gap: 30px;
}