.primary_btn{
    padding: 16px 30px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--dark-green);
    font-family: var(--destaque-font);
    text-decoration: none;
    display: block;
    font-size: 1em;
    font-weight: 800;
    transition: background-color .3s ease-out;
}

.primary_btn:hover{
    background-color: #94cc05;
}


.secondary_btn{
    padding: 15px 30px;
    border: 2px solid;
    color: var(--primary-color);
    display: block;
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--destaque-font);
    font-weight: 800;
    background-color: transparent;
    transition: color .3s ease-out;
    transition: background-color .3s ease-out;
}

.secondary_btn:hover{
    background-color: var(--primary-color);
    color: var(--dark-green);
}


.section_title{
    font-size: 3em;
    position: relative;
}
.section_title::after{
    content: '';
    width: 150px;
    height: 3px;
    background-color: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.dark{
    color: var(--light-green);
}
